html {
	background-color: black;
	color:white;
}
canvas {
	background-color: #fff;
	margin:0 5px;
}
input[type=range] {
  -webkit-appearance: none;
  position: relative;
  display: -webkit-box;
  width: 325px;
  margin: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 325px;
  height: 31px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #197ba1;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 31px;
  width: 31px;
  border-radius: 0px;
  background: #072541;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1a82aa;
}
input[type=range]::-moz-range-track {
  width: 325px;
  height: 31px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #197ba1;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 31px;
  width: 31px;
  border-radius: 0px;
  background: #072541;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 325px;
  height: 31px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #187498;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #197ba1;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  width: 31px;
  border-radius: 0px;
  background: #072541;
  cursor: pointer;
  height: 30px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #197ba1;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1a82aa;
}
label {
    display: inline;
    background-color: #072541;
    width:75px;
    line-height: 30px;
    float:left;
    text-indent: 8px;
    margin:0;
}
.divHolder {
	text-align: left;
    width:400px;
}
.divHolder2 {
	text-align: left;
    width:400px;
}
.divHolder, .divHolder2, .divHolder3 {
	display: table-cell;
}
.rangeToolHolder {
	display:flow-root;
	width:400px;
	margin:2px 5px;
}
.rangeToolHolder2 {
	display:flow-root;
	width:400px;
	margin:2px 5px;
}
.rangeToolHolder3 {
	display:flow-root;
	width:400px;
	margin:2px 5px;
	box-shadow: 0 0 2px black;
}